<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzheng.mybatis.mapper.CacheMapper">
    <!--缓存设置
       eviction:缓存回收
            LRU:最近最少使用
            FIFO：先进先出
            SOFT:软引用
            WEAK:弱引用
            默认是LRU
        flushInterval:刷新间隔 单位毫秒
        size：缓存最多可存储对象
        readOnly:只读 true/false
                true:只读缓存
                false:读写缓存，会给调用这返回对象的拷贝（通过序列化），过程慢但是安全
                默认false
    -->
    <cache></cache>
    <!-- Emp getEmpByEid(@Param("eid") Integer eid);-->
    <select id="getEmpByEid" resultType="Emp">
        select * from t_emp where eid=#{eid}
    </select>
</mapper>